*{
	margin: 0;
	padding: 0;
}
img, embed, video, iframe{

	max-width: 100%
}

.primary-bg{
	background-color: #2a2a72;
}
.secondary-bg{
	background-color: #ffaa02;
}
.primary-color{
	color: #2a2a72;
}
.secondary-color{
	color: #ffaa02;
}
.top-header{
	background-color: #05060a;
	color: #fff;
}

.nav-item a{
	color: #fff !important;
}
.nav-item a:hover{
	color: #ffaa02 !important;
}
.logo{
	background-color: #fff;
}

.services{
	background-color: #fbf5f3;
}
.testimonials{
	background: url('../img/parallax.png') no-repeat fixed center;
	background-size: cover;
	height: 500px;
	padding-top: 200px;

}

.footer{
	background-color: #050609;
	padding-top: 15px;
	color: #fff;
}